<div class="card-group">
  <div class="card detail border-0" style="width:18rem">
    <img src="../../assets/images/Graphic-Designer-Image.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">GRAPHIC DESIGN</h5>
      <p class="card-text">Need graphic design work done? Shoot me an email! I would love to work with you.</p>
    </div>
    <!-- <div class="card-footer">
      <button class="btn btn-secondary" (click)="goToSection('targetGraphic')">Go</button>
    </div> -->
  </div>
  <div class="card detail border-0" style="width:18rem">
    <img src="../../assets/images/illustration.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">ILLUSTRATION</h5>
      <p class="card-text">I have experience with many styles of illustration. Just let me know what styles you like and
        I will be happy to accommodate!</p>
    </div>
  </div>
  <div class="card detail border-0" style="width:18rem">
    <img src="../../assets/images/photography.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">PHOTOGRAPHY</h5>
      <p class="card-text">If you're interested in having me shoot your campaign or editorial or hiring me as your
        on-set stills photographer, contact me.</p>
    </div>
  </div>
</div>


<div id="targetGraphic" style="margin-top: 40px;">
  <div class="graphicContainer"> WORK </div>



  <!-- <div class="row">
    <div class="col">col</div>
    <div class="col">col</div>
    <div class="col">col</div>
  </div> -->

  <hr class="mb-5" />
  <!--Grid row-->
  <div class="row" style="margin-bottom: 40px;">

    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-4">

      <img src="../../assets/images/deer.webp" class="img-fluid mb-4" alt="">

      <img src="../../assets/images/pic2.jpg" class="img-fluid mb-4" alt="" data-wow-delay="0.3s">

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4">

      <img src="../../assets/images/woman-photographer-using-touch-screen-computer.jpg" class="img-fluid mb-4" alt=""
        data-wow-delay="0.1s">

      <img src="../../assets/images/berry-leaf.jpg" class="img-fluid mb-4" alt="" data-wow-delay="0.4s">

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4">

      <img src="../../assets/images/72LSWp.webp" class="img-fluid mb-4" alt="" data-wow-delay="0.2s">

      <img src="../../assets/images/leaf.jpg" class="img-fluid mb-4" alt=""
        data-wow-delay="0.5s">

    </div>
    <!--Grid column-->

  </div>

</div>