<div class="hero hero-home">
    <div class="cover">
        <div class="fixed-width">
            <div class="bg">
                
                    <div class="profile_img"></div> 
                
                   <button class="btn"><a id="hire">
                        <i class="fa fa-envelope-o"></i> Hire me
                    </a> </button> 
                

                <h1 itemprop="name" style="color: white;">Daffie Roger</h1>

                <div class="bio" itemprop="description"><p> Graphic designer illustrator and photographer based in Chile.</p>
                </div>
            </div>
        </div>
    </div>
</div>
