.cover {
    width: 100%;
    height: 850px;
    top: 0;
    background: rgba(34,34,34,0.6);
    background: var(--jp-hero-overlay-color, rgba(34,34,34,0.6));
}

.hero{
    background-image: url(../../assets/images/kelly-sikkema-Dx1b5ucschA-unsplash.jpg);
}

.profile_img{
    background-image: url(../../assets/images/profile.jpg);
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin: 0 auto;
    background-size: cover;
    overflow: hidden;
}

.bg{
    padding-top: 250px;
    margin: 0 auto;
    padding-bottom: 65px;
    position: relative;
    text-align: center;
}

.fixed-width {
    width: 100%;
    padding: 0 20px;
    max-width: 1060px;
    margin: 0 auto;
}

.btn{
    background: black;
    padding: 3px 22px;
    margin: 10px 0;
    display: inline-block;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 25px;
    color: #fff;
}

.bio{
    text-align: center;
    color: #fff;
    white-space: pre-wrap;
    font-size: 20px;
    margin-top: 20px;
    padding-bottom: 10px;
    line-height: 1.3;
    font-weight: 100;
    padding-top: 0px;
}

/* .social {
    margin: 10px 0 0 0;
}

.social a img {
    width: 100%;
} */